body {
  margin: 0px;
  padding: 0px;
  background: #ffffff url(/images/template/background_tile_h1024.png) repeat-x 0px 0px;
  font: 12.6px/18px Verdana, Trebuchet, Arial, Helvetica, sans-serif;

  color: #333;
  border-width: 6px 0px 0px 0px;
  border-style: solid;
  border-color: #ff9933;
}
div#wrapper {
  margin: 0px 40px 0px 40px;
  min-width: 610px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #003366;
  background-color: #ffffff;
  /* thanks http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers */
  -moz-box-shadow: 0px 0px 64px #666;
  -webkit-box-shadow: 0px 0px 64px #666;
  box-shadow: 0px 0px 64px #666;
}
div.content {
  overflow: visible;
  padding: 12px;
  border: 1px solid #666;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: #fafafa;
}
div#top {
  margin: 0px 40px 10px 40px;
  padding: 0px;
  border-width: 0px 1px 1px 1px;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: 0px 0px 8px 8px;
  height: 120px;
}
div#current_activity {
  margin: 0px 40px 10px 40px;
  border-width: 1px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 50px;
}
div#current_activity h4, div#current_activity h3 {
  margin: 0px;
}
div#middle {
  margin: 0px 40px 10px 185px;
}
div#left_col {
  float: left;
  margin: 0px 10px 10px 40px;
  padding-left: 0px;
  height: 100%;
  width: 120px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
div#show_nav {
  height: 50px;
}
div#bottom {
  margin: 0px 40px 60px 40px;
  padding: 12px;
}
.profile_image { 
  float: left; 
  border: 1px solid #000066; 
  margin: 0px 8px 8px 0px;
}
.rowblank { background-color: #fafafa; }
.row1 { background-color: #efefef; }
.row2 { background-color: #e0e0e0; }

/* fineprint */
ul.fineprint { 
  margin: 0px 2em;
  font: 11.8px Arial, Helvetica, sans-serif;
  padding: 4px 6px; 
  color: #777;
}
ul.fineprint li { 
  float: left; 
  list-style: none; 
  margin: 0px; 
  padding: 1px 6px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #7C7B76;
} 
ul.fineprint a { 
  display: block; 
  margin: 0px; 
  padding: 0px;
  float: none;
  text-decoration: none; 
}
ul.fineprint a:hover, ul.fineprint a.current { background-color: #ff9933; }

div.notice {
  padding: 4px;
  border: 1px solid green;
  background: #dfb;
  color: green;
  font-weight: bold;
  font-size: 14px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
div.alert {
  padding: 4px;
  border: 1px solid green;
  background: #dfb;
  color: red;
  font-weight: bold;
  font-size: 14px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.project_url { background: #dfb; }