<h1>Listing clients</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Projects</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
<tr valign='top' class='row<%= cycle(1, 2) %>'>
  <td><%= link_to(client.name, client) %></td>
  <td>
  	<table>
		<% client.projects.each do |project| %>
		  <tr valign='top'>
		    <td><%= link_to(project.name, project) %></td>
		  </tr>
		<% end %>
		</table> 	
  </td>
</tr>

<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
