<div style='overflow: hidden; width: 100%;'>
	<h3 style='float: right; width: 45%;'>Time Now: <%= user_time_now %></h3>
	<h3 style='float: left; width: 55%;'>Recorded Hours: <%= (@minutes_today / 60.0).round_to_two %></h3>
</div>

<h1>Activities Today for <%= get_user.name %></h1>

<%= render :partial => 'activities/list' %>
